<div class="flex mt-4 items-end text-gray-800">
  <span class="text-3xl"><%= @card.prefix %></span>
  <span class="text-5xl font-semibold"><%= @card.formatted_result %></span>
  <span class="text-3xl"><%= @card.suffix %></span>
</div>
